.tutor-course-reviews {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_about {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_author {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_benefits {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_carousel {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_categories {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_content {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
		svg {
			width: 32px !important;
		}
	}
}
.tutor_course_curriculum {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_description {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_duration {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_enrollment {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_instructor {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_last_update {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_level {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_list {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_materials {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_price {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_purchase {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
		svg {
			width: 32px !important;
		}
	}
}
.tutor_course_rating {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_requirements {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_share {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_status {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_tags {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_target_audience {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_thumbnail {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_title {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_total_enroll {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
	}
}
.tutor_course_wishlist {
	.et_module_title {
		margin-top: 10px;
	}
	>div {
		fill: #2b87da !important;
		svg {
			width: 32px !important;
		}
	}
}
.tutor-divi-carousel-classic {
	.tutor-divi-card {
		border-radius: 8px;
		border: 1px solid #ebebeb;
		overflow: hidden;
	}
}
.tutor-divi-carousel-card {
	.tutor-divi-card {
		border-radius: 8px;
	}
}
.tutor-divi-carousel-stacked {
	.tutor-course-header {
		border-radius: 10px;
	}
}
.tutor-divi-carousel-overlayed {
	.tutor-divi-card {
		border-radius: 20px;
	}
}
.tutor-divi-courselist-classic {
	.tutor-divi-card {
		border-radius: 8px;
		border: 1px solid #ebebeb;
		overflow: hidden;
	}
}
.tutor-divi-courselist-card {
	.tutor-divi-card {
		border-radius: 8px;
	}
}
.tutor-divi-courselist-stacked {
	.tutor-divi-card {
		border-radius: 10px;
	}
}
.tutor-divi-courselist-overlayed {
	.tutor-divi-card {
		border-radius: 20px;
	}
}
