.dtlms-install-notice {
  padding: 20px;
  display: block;
}

.dtlms-install-notice .dtlms-install-notice-inner {
  min-height: 64px;
}

.notice.notice-error.dtlms-install-notice .dtlms-install-notice-icon {
  float: left;
  width: 65px;
}

.dtlms-install-notice-button {
  float: right;
  margin-top: 14px;
}

.dtlms-install-notice-button .button {
  padding: 6px 30px;
  height: auto;
  line-height: 20px;
  text-transform: capitalize;
}

.dtlms-install-notice-icon img {
  width: 64px;
  border-radius: 4px;
  display: block;
}

.dtlms-install-notice-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.dtlms-install-notice-content h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.dtlms-install-notice-content p {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
}

@media (max-width: 1320px) {
  .dtlms-install-notice-button {
    float: inherit;
  }
}
