.tutor-course-reviews .et_module_title {
  margin-top: 10px;
}

.tutor-course-reviews > div {
  fill: #2b87da !important;
}

.tutor_course_about .et_module_title {
  margin-top: 10px;
}

.tutor_course_about > div {
  fill: #2b87da !important;
}

.tutor_course_author .et_module_title {
  margin-top: 10px;
}

.tutor_course_author > div {
  fill: #2b87da !important;
}

.tutor_course_benefits .et_module_title {
  margin-top: 10px;
}

.tutor_course_benefits > div {
  fill: #2b87da !important;
}

.tutor_course_carousel .et_module_title {
  margin-top: 10px;
}

.tutor_course_carousel > div {
  fill: #2b87da !important;
}

.tutor_course_categories .et_module_title {
  margin-top: 10px;
}

.tutor_course_categories > div {
  fill: #2b87da !important;
}

.tutor_course_content .et_module_title {
  margin-top: 10px;
}

.tutor_course_content > div {
  fill: #2b87da !important;
}

.tutor_course_content > div svg {
  width: 32px !important;
}

.tutor_course_curriculum .et_module_title {
  margin-top: 10px;
}

.tutor_course_curriculum > div {
  fill: #2b87da !important;
}

.tutor_course_description .et_module_title {
  margin-top: 10px;
}

.tutor_course_description > div {
  fill: #2b87da !important;
}

.tutor_course_duration .et_module_title {
  margin-top: 10px;
}

.tutor_course_duration > div {
  fill: #2b87da !important;
}

.tutor_course_enrollment .et_module_title {
  margin-top: 10px;
}

.tutor_course_enrollment > div {
  fill: #2b87da !important;
}

.tutor_course_instructor .et_module_title {
  margin-top: 10px;
}

.tutor_course_instructor > div {
  fill: #2b87da !important;
}

.tutor_course_last_update .et_module_title {
  margin-top: 10px;
}

.tutor_course_last_update > div {
  fill: #2b87da !important;
}

.tutor_course_level .et_module_title {
  margin-top: 10px;
}

.tutor_course_level > div {
  fill: #2b87da !important;
}

.tutor_course_list .et_module_title {
  margin-top: 10px;
}

.tutor_course_list > div {
  fill: #2b87da !important;
}

.tutor_course_materials .et_module_title {
  margin-top: 10px;
}

.tutor_course_materials > div {
  fill: #2b87da !important;
}

.tutor_course_price .et_module_title {
  margin-top: 10px;
}

.tutor_course_price > div {
  fill: #2b87da !important;
}

.tutor_course_purchase .et_module_title {
  margin-top: 10px;
}

.tutor_course_purchase > div {
  fill: #2b87da !important;
}

.tutor_course_purchase > div svg {
  width: 32px !important;
}

.tutor_course_rating .et_module_title {
  margin-top: 10px;
}

.tutor_course_rating > div {
  fill: #2b87da !important;
}

.tutor_course_requirements .et_module_title {
  margin-top: 10px;
}

.tutor_course_requirements > div {
  fill: #2b87da !important;
}

.tutor_course_share .et_module_title {
  margin-top: 10px;
}

.tutor_course_share > div {
  fill: #2b87da !important;
}

.tutor_course_status .et_module_title {
  margin-top: 10px;
}

.tutor_course_status > div {
  fill: #2b87da !important;
}

.tutor_course_tags .et_module_title {
  margin-top: 10px;
}

.tutor_course_tags > div {
  fill: #2b87da !important;
}

.tutor_course_target_audience .et_module_title {
  margin-top: 10px;
}

.tutor_course_target_audience > div {
  fill: #2b87da !important;
}

.tutor_course_thumbnail .et_module_title {
  margin-top: 10px;
}

.tutor_course_thumbnail > div {
  fill: #2b87da !important;
}

.tutor_course_title .et_module_title {
  margin-top: 10px;
}

.tutor_course_title > div {
  fill: #2b87da !important;
}

.tutor_course_total_enroll .et_module_title {
  margin-top: 10px;
}

.tutor_course_total_enroll > div {
  fill: #2b87da !important;
}

.tutor_course_wishlist .et_module_title {
  margin-top: 10px;
}

.tutor_course_wishlist > div {
  fill: #2b87da !important;
}

.tutor_course_wishlist > div svg {
  width: 32px !important;
}

.tutor-divi-carousel-classic .tutor-divi-card {
  border-radius: 8px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.tutor-divi-carousel-card .tutor-divi-card {
  border-radius: 8px;
}

.tutor-divi-carousel-stacked .tutor-course-header {
  border-radius: 10px;
}

.tutor-divi-carousel-overlayed .tutor-divi-card {
  border-radius: 20px;
}

.tutor-divi-courselist-classic .tutor-divi-card {
  border-radius: 8px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.tutor-divi-courselist-card .tutor-divi-card {
  border-radius: 8px;
}

.tutor-divi-courselist-stacked .tutor-divi-card {
  border-radius: 10px;
}

.tutor-divi-courselist-overlayed .tutor-divi-card {
  border-radius: 20px;
}

/* Hot Fix */
.tutor-course-header a {
  display: block;
}

.tutor-course-col-2 .tutor-course-header img,
.tutor-course-col-3 .tutor-course-header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.tutor-course-loop-title > * > a {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.tutor-divi-courselist-course-container,
.tutor-divi-carousel-course-container {
  display: grid;
}

.tutor-loop-course-container {
  display: flex;
  flex-direction: column;
}

.tutor-loop-author {
  margin-top: auto;
}

.tutor-course-col-2 .tutor-loop-author {
  display: flex;
  align-items: center;
}

.tutor-course-loop-header-meta {
  z-index: 9999;
}

.tutor-loop-author > div span {
  margin: 0px;
}

/* overlayed skin footer text */
.tutor-divi-courselist-overlayed .tutor-course-header a img,
.tutor-divi-carousel-overlayed .tutor-course-header a img {
  height: auto;
  min-height: 300px;
}

.tutor-divi-carousel-overlayed .tutor-course-listing-item-footer .list-item-button .tutor-btn.tutor-btn-ghost,
.tutor-divi-courselist-overlayed .tutor-course-listing-item-footer .list-item-button .tutor-btn.tutor-btn-ghost {
  color: #7A7A7A;
}

.tutor-divi-carousel-overlayed .tutor-course-listing-item-footer .list-item-button .product_type_external .btn-icon,
.tutor-divi-carousel-overlayed .tutor-course-listing-item-footer .list-item-button .product_type_external .cart-text,
.tutor-divi-courselist-overlayed .tutor-course-listing-item-footer .list-item-button .product_type_external .btn-icon,
.tutor-divi-carousellist-overlayed .tutor-course-listing-item-footer .list-item-button .product_type_external .cart-text {
  color: #7A7A7A;
}

.tutor-divi-carousel-overlayed .list-item-button .product_type_external,
.tutor-divi-courselist-overlayed .list-item-button .product_type_external {
  color: #7A7A7A !important;
}

.tutor-divi-carousel-overlayed .tutor-loop-course-footer,
.tutor-divi-courselist-overlayed .tutor-loop-course-footer {
  border-color: #ffffff3b !important;
}

.tutor-divi-carousel-overlayed .tutor-course-listing-item-footer .list-item-price-with-booking .list-item-booking > *,
.tutor-divi-courselist-overlayed .tutor-course-listing-item-footer .list-item-price-with-booking .list-item-booking > * {
  color: #fff !important;
}

.tutor-divi-carousel-overlayed .dtlms-author-name,
.tutor-divi-courselist-overlayed .dtlms-author-name {
  color: #fff !important;
}

.dtlms-course-list-loop-wrap .tutor-course-card .tutor-course-thumbnail {
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.dtlms-course-list-loop-wrap .tutor-course-card .tutor-course-thumbnail:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-classic {
  border: 0;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-classic.dtlms-has-hover-animation {
  box-shadow: 0 4px 15px 4px rgba(39, 57, 101, 0.1) !important;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-classic.dtlms-has-hover-animation:hover {
  box-shadow: 0 4px 10px rgba(39, 57, 101, 0.12) !important;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-stacked .tutor-card {
  margin: -80px 30px 0px 30px;
  border: 0;
  box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-grid-stacked .tutor-card {
  margin: 30px 0px 30px -80px;
  border: 0;
  box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-overlay {
  position: relative;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-overlay .tutor-card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-course-card-overlay .tutor-course-thumbnail {
  border-radius: 0;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-has-hover-animation {
  transform: translateY(0px);
  transition: 300ms ease-in;
}

.dtlms-course-list-loop-wrap .tutor-course-card.dtlms-has-hover-animation:hover {
  transform: translateY(-5px);
}

.dtlms-course-carousel-loop-wrap .slick-slide {
  height: inherit !important;
  margin: 0 10px;
}

.dtlms-course-carousel-loop-wrap .slick-list {
  margin: 0 -10px;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card .tutor-course-thumbnail {
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card .tutor-course-thumbnail:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-classic {
  border: 0;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-classic.dtlms-has-hover-animation {
  box-shadow: 0 4px 15px 4px rgba(39, 57, 101, 0.1) !important;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-classic.dtlms-has-hover-animation:hover {
  box-shadow: 0 4px 10px rgba(39, 57, 101, 0.12) !important;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-stacked .tutor-card {
  margin: -80px 30px 0px 30px;
  border: 0;
  box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-grid-stacked .tutor-card {
  margin: 30px 0px 30px -80px;
  border: 0;
  box-shadow: 0px 34px 28px -20px rgba(0, 0, 0, 0.15);
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-overlay {
  position: relative;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-overlay .tutor-card {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-course-card-overlay .tutor-course-thumbnail {
  border-radius: 0;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-has-hover-animation {
  transform: translateY(0px);
  transition: 300ms ease-in;
}

.dtlms-course-carousel-loop-wrap .tutor-course-card.dtlms-has-hover-animation:hover {
  transform: translateY(-5px);
}

.tutor-social-share-wrap button {

  background-color: #272745 !important;
}
.tutor-social-share-wrap button {
 
  display: inline-block !important;
 
}